@import '../common/styles/sass/variables.scss';
@import '../common/styles/sass/mixins';


.MyProjectsBlock {
  padding: 50px 0;
  background-color: $bgColor;
   h2 span {
    color: #ffb400;
  }
  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;

    .title {
      @include text($TextFontFamily,900,40px);
      color: #fff;
      text-transform: uppercase;
      margin: 0;
      @media screen and(min-width: 576px) {
        text-align: center;
      }
    }

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}
