@import '../../common/styles/sass/variables.scss';
@import './src/common/styles/sass/mixins';

.skill{
    border: 1px solid;
    width: 250px;
    background-color: $bgSecondColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
    color: $textColor;
    .icon{
        width: 50px;
        height: 50px;
        background-color: #929c92;
    }
    h3{
        @include text($TextFontFamily, 600, 20px);
        color: $primaryColor;
    }
}





