.skillsBlock {
    padding: 50px 0;
    background-color: #252525;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.skillsBlock h2 {
    background-color: #252525;
    color: #fff;
    text-transform: uppercase !important;
    font-size: 40px;
    font-weight: 900 !important;
    margin: 0;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 563px) {
    .skills {
        justify-content: center;
    }
}


