@import '/src/common/styles/sass/variables';
@import '/src/common/styles/sass/mixins';


.footerBlock {
  padding: 50px 0;
  background-color: $bgColor;

  .footerContainer {
    flex-direction: column;

    .footerTitle {
      color: $textColor;
      font-size: 15px;
      margin: 7px 0 10px;
      text-transform: uppercase;
    }

    .boxInFooterContainer {
      width: 290px;
      height: 40px;
      display: flex;
      justify-content: flex-end;




      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 0;

      }

      li {
        width: 60px;
        height: 100%;
        list-style-type: none;
        margin: 0 6px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        a{
          color: #323232;
        }
      }
      a:hover{
        color: #ffb400;
      }

    }

    .footerBottomText {
      background-color: $bgColor;
      color: $textColor;
    }
  }

}










